### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
unique_player = purchase_data["SN"].unique()
num_players = len(unique_player)
num_players

576

## Purchasing Analysis (Total)

Run basic calculations to obtain number of unique items, average price, etc.
Create a summary data frame to hold the results
Optional: give the displayed data cleaner formatting
Display the summary data frame

In [3]:
purchase_data.describe()
unique_items = len(purchase_data["Item ID"].unique())
average_price = purchase_data["Price"].mean()
purchase_number = purchase_data["Purchase ID"].count()
total_revenue = purchase_data["Price"].sum()
summary = pd.DataFrame({"Number of Unique Items": [unique_items],
                        "Average Price": [average_price],
                        "Number of Purchases": [purchase_number],
                        "Total Revenue": [total_revenue]
                       })

summary["Average Price"] = summary["Average Price"].map("${:.2f}".format)
summary["Total Revenue"] = summary["Total Revenue"].map("${:.2f}".format)
summary

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [23]:
unique_person = purchase_data.groupby("Gender")["SN"].nunique()
unique_person

total_count = unique_person["Gender"].value_counts()
total_count

gender_percentage = (unique_person / num_players) *100
gender_demographics = pd.DataFrame({"Total Count": [total_count],
                                    "Percentage of Players": [gender_percentage]
                                   })
Gender_Demographics['Percentage of Players']= Gender_Demographics['Percentage of Players'].map("{0:.2f}%".format)
Gender_Demographics



# Gender_df = purchase_data.groupby('Gender')['SN'].nunique()
# Gender_df

# Gender_percent = (Gender_df / num_players) *100
# Gender_Demographics = pd.concat([Gender_percent,Gender_df], axis=1,keys=['Percentage of Players','Total Count'])
# Gender_Demographics['Percentage of Players']= Gender_Demographics['Percentage of Players'].map("{0:.2f}%".format)
# Gender_Demographics




# per_person = purchase_data(["SN"]).unique()
# per_person.head()

# a = per_person["Gender"].value_counts
# a
# b = purchase_data["Gender"].value_counts(normalize=True) *100

# new_df = pd.DataFrame({"Total Counts":a,
#                        "Percentage of Players":b})
# new_df["Percentage of Players"] = new_df["Percentage of Players"].map("{:.2f}".format)
# new_df

KeyError: 'Gender'


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [16]:
grouped = purchase_data.groupby(["Gender"])

purchase_total = grouped["Price"].count()
purchase_total

average_price= grouped["Price"].mean()
average_price

total_price = grouped["Price"].sum()
total_price

summary = pd.DataFrame({"Purchase Count": purchase_total,
                        "Average Purchase Price": average_price,
                        "Total Purchase Value": total_price
                       })
summary["Average Purchase Price"] = summary["Average Purchase Price"].map("${:.2f}".format)
summary["Total Purchase Value"] = summary["Total Purchase Value"].map("${:.2f}".format)
summary

,Purchase Count,Average Purchase Price,Total Purchase Value
Gender,,,
Female,113,$3.20,$361.94
Male,652,$3.02,$1967.64
Other / Non-Disclosed,15,$3.35,$50.19

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [15]:

# Establish the bins 
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
# Categorize the existing players using the age bins
player_demographics["Age Ranges"] = pd.cut(player_demographics["Age"], age_bins, labels=group_names)


# Calculate the Numbers and Percentages by Age Group
age_demographics_totals = player_demographics["Age Ranges"].value_counts()
age_demographics_percents = age_demographics_totals / num_players * 100
age_demographics = pd.DataFrame({"Total Count": age_demographics_totals, "Percentage of Players": age_demographics_percents})
# Minor Data Munging
age_demographics = age_demographics.round(2)
# Display Age Demographics Table
age_demographics.sort_index()








# bins= [0,9.0,14.9,19.9,24.0,29.9,34.9,39.9,120]
# group_names = ["<10", "10-14","15-19","20-24","25-29","30-34","35-39","40+"]
# player["Age Ranges"] = pd.cut(purchase_data["Age"], bins, labels= group_names)

# total = player["Age Ranges"].value_counts()
# total_percentage = total / num_players *100
# age_summary = pd.DataFrame({"Total Count":[total],
#                             "Percentage of Players": [total_percentage]    
# })
# # purchase_data["Total Count"].value_counts()

NameError: name 'player_demographics' is not defined

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame